<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <connectionStrings>
        <add name="acctng" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;uid=root;database=mcs_rpa_db;" />
        <add name="acctngremote" providerName="MySql.Data.MySqlClient" connectionString="server=192.168.1.33;uid=mcspams;password=1234;database=mcs_rpa_db;" />
        <add name="acctngremotetest" providerName="MySql.Data.MySqlClient" connectionString="server=noel-VirtualBox;uid=mcspams;password=1234;database=mcs_rpa_db;" />
    </connectionStrings>
</configuration>